@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    src: url(assets/Poppins-Regular.ttf);
}

@theme {
    --color-light: #F4F5F7;
    --color-light-orange :#FFF3E3;
    --color-dark-orange :#B88E2F;
    --color-font: #333333;
    --color-light-font: #666666;
    --color-grey1: #3A3A3A;
    --color-grey2: #616161;
    --color-grey3: #898989;
    --color-grey4: #B0B0B0;
    --color-red : #E97171;
    --color-green : #2EC1AC;

}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bg-img{
    background-image: url(assets/home/home.jpg);
    background-size: cover;
    margin-top: -10rem;
}