@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-light: #f4f5f7;
  --color-light-orange: #fff3e3;
  --color-dark-orange: #b88e2f;
  --color-slider: #fcf8f3;
  --color-font: #333333;
  --color-light-font: #666666;
  --color-results: #f9f1e7;
  --color-cart: #b88e2f38;
  --color-footer: #9f9f9f;
  --color-light-footer: #faf3ea;
  --color-footer-black: #242424;
  --color-light-grey: #d9d9d9;
  --color-grey1: #3a3a3a;
  --color-grey2: #616161;
  --color-grey3: #898989;
  --color-grey4: #b0b0b0;
  --color-grey5: #d8d8d8;
  --color-red: #e97171;
  --color-green: #2ec1ac;
  --color-border: #C7CCD0;
  --color-light-button: #f6f6f6;
}

@layer components {
  .grid-btn {
    @apply bg-results flex h-15 w-15 cursor-pointer items-center justify-center rounded-lg;
  }
  .input {
    @apply border-footer h-18 rounded-lg border px-3 outline-0 focus:border-black;
  }
  .form-input{
    @apply placeholder:text-grey3 h-8 w-full rounded-lg border bg-white px-4 text-xs lg:text-sm outline-none placeholder:text-xs lg:h-10.5 lg:placeholder:text-sm xl:w-90.25
  }
  .form-label{
    @apply text-xs lg:text-sm mb-2 cursor-pointer w-fit
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-img {
  background-image: url(assets/home/home.jpg);
  background-size: cover;
  margin-top: -10rem;
  z-index: -1;
}

.active {
  color: #b88e2f;
  text-decoration: 2px #b88e2f underline;
  text-underline-offset: 5px;
}
