@import "tailwindcss";

@theme {
  --color-light: #f4f5f7;
  --color-light-orange: #fff3e3;
  --color-dark-orange: #b88e2f;
  --color-slider: #fcf8f3;
  --color-font: #333333;
  --color-light-font: #666666;
  --color-grey1: #3a3a3a;
  --color-grey2: #616161;
  --color-grey3: #898989;
  --color-grey4: #b0b0b0;
  --color-grey5: #d8d8d8;
  --color-red: #e97171;
  --color-green: #2ec1ac;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

.bg-img {
  background-image: url(assets/home/home.jpg);
  background-size: cover;
  margin-top: -10rem;
  z-index: -1;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease-out;
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-out;
}
